@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url("https://cdn.paymentez.com/js/1.0.1/paymentez.min.css");

body {
  padding: 20px!important;
}

#app {
  font-family: 'Montserrat', sans-serif;

  .title {
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    font-size: 56px;
    font-weight: 700;
  }

  h2 {
    font-size: 36px;
    font-weight: 600;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
  }

  h5 {
    font-size: 17px;
    font-weight: 600;
  }

  h6 {
    font-size: 14px;
    font-weight: 600;
  }

  hr {
    background-color: initial !important;
  }

  ul {
    padding-left: 0 !important;
  }
}
