.v-data-table, .v-data-table .v-data-table__wrapper, .v-data-table .v-data-table__wrapper table{
  border-radius: 10px!important;
}
/* Light theme */
thead.v-data-table-header {
  background-color: #8898AA;
}
thead.v-data-table-header tr {
  height: 40px;
  vertical-align: center;
}
thead.v-data-table-header tr th {
  border-bottom: none!important;
  color: white!important;
}
thead.v-data-table-header tr th span {
  font-weight: 400!important;
  font-size: 14px!important;
  text-transform: capitalize!important;
}
.v-data-table.v-data-table--fixed-header thead th {
  background: #8898AA!important;
}
.v-data-table__wrapper tbody tr {
  color: #172B4D;
  border: none;
  height: 60px;
}
.v-data-table__wrapper tbody tr td {
  border-bottom: none;
}
.v-data-table__wrapper tbody tr:nth-child(even) {
  background-color: #F0F4FD;
}
.v-data-footer {
  margin-right: 0px!important;
}

/* Dark Theme */
#app.theme--dark {
  thead.v-data-table-header {
    background-color: #8898AA;
  }
  thead.v-data-table-header tr {
    height: 40px;
    vertical-align: center;
  }
  thead.v-data-table-header tr th {
    border-bottom: none!important;
    color: white!important;
  }
  thead.v-data-table-header tr th span {
    font-weight: 400!important;
    font-size: 14px!important;
    text-transform: capitalize!important;
  }
  .v-data-table.v-data-table--fixed-header thead th {
    background: #8898AA!important;
  }
  .v-data-table__wrapper tbody tr {
    color: #C4C4C4;
    border: none;
    height: 60px;
  }
  .v-data-table__wrapper tbody tr td {
    border-bottom: none;
  }
  .v-data-table__wrapper tbody tr {
    background-color: #14192A;
  }
  .v-data-table__wrapper tbody tr:nth-child(even) {
    background-color: #1F263C;
  }
  .v-data-footer {
    background-color: #8898AA!important;
    border-radius: 0 0 10px 10px!important;
  }
}
