<template>
  <v-row>
    <v-col cols="12">
      <h1>
        Bienvenido al home de la app de Rick and Morty
      </h1>
    </v-col>
    <v-col cols="12" class="d-flex justify-center align-center">
      <v-btn
        color="blue"
        class="mr-2"
        dark
        @click="goTo({ name: 'Home' })"
      >
        Home
      </v-btn>

      <router-link :to="{ name: 'Rick and Morty Items' }">
        <v-btn
          color="blue"
          dark
        >
          Rick and morty table
        </v-btn>
      </router-link>
    </v-col>
    <v-col cols="12">
      <h3>Información del usuario</h3>
      <ul>
        <li v-for="(value, key, index) in userInfo"
            :key="index"
        >
          {{ key }}: {{ value }}
        </li>
      </ul>
      <h2>Year: {{ year }}</h2>
      <h3>Double Year: {{ doubleYear }}</h3>
    </v-col>

    <v-col cols="12">
      <v-text-field
        background-color="green"
        label="Name"
        solo
        :value="userInfo.name"
        @input="changeUserInfoProperty({ key: 'name', value: $event })"
      />
    </v-col>

    <v-col cols="12">
      <v-text-field
        background-color="green"
        label="Last name"
        solo
        :value="userInfo.lastName"
        @input="changeUserInfoProperty({ key: 'lastName', value: $event })"
      />
    </v-col>

    <v-col cols="12">
      <v-text-field
        background-color="green"
        label="Age"
        solo
        :value="userInfo.age"
        @input="changeUserInfoProperty({ key: 'age', value: $event })"
      />
    </v-col>

    <v-col cols="12">
      <v-text-field
        background-color="red"
        label="Year"
        solo
        v-model="year"
      />
    </v-col>

    <v-col cols="12">
      <h2>Slots</h2>
      <ModifiedButton class="mr-5">
        Hola cómo estas
      </ModifiedButton>

      <ModifiedButton>
        Boton 2
      </ModifiedButton>
    </v-col>
  </v-row>
</template>

<script>
import ModifiedButton from '@/components/ModifiedButton'
import { mapState, mapGetters } from 'vuex'
export default {
  components: { ModifiedButton },
  computed: {
    ...mapGetters(['doubleYear']),
    ...mapState({
      rickAndMortyItems: state => state.authentication.rickAndMortyItems,
      userInfo: state => state.authentication.userInfo
    }),
    /* lastName: {
      get () {
        return this.userInfo.lastName
      },
      set (value) {
        this.$store.commit('SET_USER_INFO_PROPERTY', { key: 'lastName', value: value })
      }
    },
    name: {
      get () {
        return this.userInfo.name
      },
      set (newName) {
        this.$store.commit('SET_USER_INFO_PROPERTY', { key: 'name', value: newName })
      }
    }, */
    year: {
      get () {
        return this.$store.state.authentication.year
      },
      set (newYear) {
        this.$store.commit('SET_YEAR', newYear)
      }
    }
  },
  created () {
    this.$store.dispatch('getRickAndMortyItems')
  },
  methods: {
    changeUserInfoProperty ({ key, value }) {
      this.$store.commit('SET_USER_INFO_PROPERTY', { key, value })
    },
    goTo (path) {
      if (this.$route.name === path.name) return
      this.$router.push(path)
    }
  }
}
</script>
