<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-img
            :alt="rickAndMortyItem.name"
            class="elevation-3"
            height="500px"
            :src="rickAndMortyItem.image"
            style="border-radius: 50%!important"
            width="500px"
          />
          <h2>{{ rickAndMortyItem.name }}</h2>
          <h3>{{ rickAndMortyItem.species }}</h3>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { getSingleCharacter } from '@/services/rickAndMorty'

export default {
  created () {
    this.getRickAndMortyItem()
  },
  data () {
    return {
      rickAndMortyItem: {}
    }
  },
  methods: {
    async getRickAndMortyItem () {
      const id = this.$route.params.itemId
      this.rickAndMortyItem = await getSingleCharacter(id)
    }
  }
}
</script>
