<template>
  <div>
    <DeleteItem
      :selected-item-id="selectedItemIdToDelete"
      v-model="isDeleteItemDialogVisible"
    />
    <NewEditItem :mode="mode"
                 :selected-item="selectedItemToEdit"
                 v-model="isNewEditItemVisible" />

    <v-col cols="12">
      <div class="d-flex justify-end">
        <v-btn
          color="blue"
          dark
          @click="createItem()">
          Create Item
        </v-btn>
      </div>
    </v-col>

    <!--t r b l a x y-->
    <v-col cols="12">
      <v-text-field
        label="Search by name..."
        hide-details
        outlined
        rounded
        v-model="search"
      />
    </v-col>

    <v-data-table
      fixed-header
      :footer-props="{
            'items-per-page-text': 'Rick and morty items per page',
            'items-per-page-options': [10, 15, 20]
          }"
      :headers="headers"
      height="70vh"
      :items="items"
      :items-per-page="20"
      :options.sync="paginator"
      :server-items-length="totalItems"
      class="elevation-5"
    >
      <template v-slot:item="{ item }">
        <tr>
          <td>
            <span class="font-weight-bold d-flex justify-center">
              {{ item.id }}
            </span>
          </td>

          <td>
            <div class="d-flex align-center justify-center">
              <v-avatar size="35px" class="mr-3">
                <v-img :src="item.image" :alt="item.name" />
              </v-avatar>
              <span class="d-flex justify-center">
              {{ item.name }}
            </span>
            </div>
          </td>

          <td>
            <span class="d-flex justify-center">
              {{ item.species }}
            </span>
          </td>

          <td>
            <span class="d-flex justify-center">
              {{ item.gender }}
            </span>
          </td>

          <td>
            <span class="d-flex justify-center">
              {{ item.type }}
            </span>
          </td>

          <td>
            <div class="d-flex justify-center">
              <v-btn
                class="mr-2"
                color="blue"
                icon
                @click="$router.push({ name: 'Item Details', params: { itemId: item.id } })"
              >
                <v-icon>mdi-eye</v-icon>
              </v-btn>

              <v-btn class="mr-2" color="blue" icon @click="editItem(item)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>

              <v-btn color="red" icon @click="deleteItem(item.id)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </div>
          </td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { getAllCharacters } from '../services/rickAndMorty'
import DeleteItem from './dialogs/DeleteItem'
import NewEditItem from './dialogs/NewEditItem'
export default {
  // Life cycle hooks
  beforeCreate () {
    // console.log('beforeCreate')
  },
  components: { DeleteItem, NewEditItem },
  computed: {
    /* filteredItems () {
      const search = this.search
      return this.items.filter(item => item.name.toLowerCase().includes(search.toLowerCase()))
      /!* return this.items.filter(function (item) {
        return item.name.toLowerCase().includes(search.toLowerCase())
      }) *!/
    } */
  },
  created () {
    // console.log('created')
  },
  beforeMount () {
    // console.log('beforeMount')
  },
  mounted () {
    // console.log('mounted')
  },
  beforeUpdate () {
    // console.log('beforeUpdate')
  },
  updated () {
    // console.log('updated')
  },
  beforeDestroy () {
    // console.log('beforeDestroy')
  },
  destroyed () {
    // console.log('destroyed')
  },
  data () {
    return {
      headers: [
        { text: 'Id', align: 'center', sortable: true, value: 'id' },
        { text: 'Name', align: 'center', sortable: true, value: 'name' },
        { text: 'Species', align: 'center', sortable: true, value: 'species' },
        { text: 'Gender', align: 'center', sortable: true, value: 'gender' },
        { text: 'Type', align: 'center', sortable: true, value: 'type' },
        { text: 'Actions', align: 'center', sortable: false, value: '' }
      ],
      isDeleteItemDialogVisible: false,
      isNewEditItemVisible: false,
      items: [],
      mode: 'create',
      paginator: {},
      search: '',
      selectedItemToEdit: {},
      selectedItemIdToDelete: '',
      totalItems: 0
    }
  },
  methods: {
    createItem () {
      this.mode = 'create'
      this.isNewEditItemVisible = true
    },
    deleteItem (itemId) {
      this.selectedItemIdToDelete = itemId
      this.isDeleteItemDialogVisible = true
    },
    editItem (item) {
      this.mode = 'edit'
      this.selectedItemToEdit = item
      this.isNewEditItemVisible = true
    },
    async getRickAndMortyItems () {
      const response = await getAllCharacters(this.paginator, this.search)
      this.items = response.results
      this.totalItems = response.count
    }
  },
  watch: {
    paginator () {
      this.getRickAndMortyItems()
    },
    search () {
      this.getRickAndMortyItems()
    }
  }
}
</script>
