<template>
  <v-app>
    <!--  Directives: v-on (Eventos, atajo @), v-bind:propName (Link variables, atajo :), v-model  -->
    <h1>Hola Mundo</h1>

    <h3>Counter: {{ counter }}</h3>

    <h3>Esta es la variable: {{ variable }}</h3>

    <div>
      <v-btn
        color="blue"
        dark
        @click="increaseCounter()"
      >
        Increase counter
      </v-btn>
    </div>

    <div>
      <!--<v-text-field
        :value="variable"
        @input="setVariable($event)"
      />-->
      <v-text-field v-model="variable" />
    </div>

    <!--  Conditionals v-if v-else-if and v-else  -->
    <template v-if="counter === 0">
      <span>
        Counter is equal to zero {{ counter }}
      </span>
    </template>

    <template v-else-if="counter === 1">
      <p>
        Counter is equal to one {{ counter }}
      </p>
    </template>

    <template v-else>
      <h5>
        Counter is different than 0 and 1 {{ counter }}
      </h5>
    </template>

    <!-- v-show Condition   -->
    <div v-show="counter > 3">
      Counter is greater than 3
    </div>

    <!--  Loops  -->
    <ul>
      <li v-for="(item, index) in items" :key="index">
        Name: {{ item.name }} - Last name: {{ item.lastName }}
      </li>
    </ul>

    <ol>
      <li
        v-for="(value, key, index) in personInformation"
        :key="index"
      >
        {{ key }}: {{ value }}
      </li>
    </ol>

    <div class="d-flex justify-space-between flex-wrap">
      <img
        v-for="item in rickAndMortyItems"
        :key="item.id"
        :alt="item.name"
        :src="item.image"
      >
    </div>
  </v-app>
</template>

<script>
import { getAllCharacters } from './services/rickAndMorty'
export default {
  created () {
    this.getRickAndMortyItems()
  },
  data () {
    return {
      counter: 0,
      personInformation: {
        name: 'Alejandro',
        lastName: 'Correa',
        age: 24,
        hobbies: ['Cycling', 'Learning', 'Traveling']
      },
      items: [
        { name: 'Alejandro', lastName: 'Correa' },
        { name: 'Camilo', lastName: 'Correa' },
        { name: 'Alejandro', lastName: 'Correa' },
        { name: 'Camilo', lastName: 'Correa' }
      ],
      rickAndMortyItems: [],
      variable: ''
    }
  },
  methods: {
    increaseCounter: function () {
      this.counter++
    },
    async getRickAndMortyItems () {
      this.rickAndMortyItems = await getAllCharacters()
    }
  }
}
</script>
