<template>
  <v-app>
    <v-app-bar fixed color="blue" dark flat>
      <div>
        <span>Hola: {{ `${userInfo.name} ${userInfo.lastName}` }}</span>
      </div>
    </v-app-bar>

    <v-main class="pt-10">
      <router-view />
      <!--<v-row>
        <v-col cols="12" v-show="isRickAndMortyTableVisible">
          <RickAndMortyTable />
        </v-col>

        <v-col cols="12" v-show="!isRickAndMortyTableVisible">
          <h1>Eliminé la tabla</h1>
        </v-col>

        <v-col cols="12">
          <div>
            <v-btn
              color="blue"
              dark
              @click="toggleTable()"
            >
              Toggle table
            </v-btn>
          </div>
        </v-col>
      </v-row>-->
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      token: state => state.authentication.token,
      year: state => state.authentication.year
    }),
    userInfo () {
      return this.$store.state.authentication.userInfo
    }
  },
  data () {
    return {
      isRickAndMortyTableVisible: true
    }
    /* === !== == != >= <= < > */
  },
  methods: {
    toggleTable () {
      this.isRickAndMortyTableVisible = !this.isRickAndMortyTableVisible
    }
  }
}
</script>
