<template>
  <v-dialog
    max-width="500px"
    :value="value"
    @input="toggleModal()"
  >
    <v-card color="red">
      <v-card-text class="d-flex flex-column align-center pa-6">
        <v-icon
          color="white"
          size="80px">
          mdi-alert
        </v-icon>
        <p class="white--text">
          ¿Estás seguro de querer borrar este item?
        </p>
        <div class="d-flex justify-center">
          <v-btn
            color="white"
            class="mr-2"
            outlined
            @click="toggleModal()"
          >
            Cancelar
          </v-btn>

          <v-btn
            color="white"
            class="red--text"
            :loading="loading"
            @click="deleteItemWithId()"
          >
            Eliminar
          </v-btn>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { deleteItem } from '@/services/rickAndMorty'
export default {
  data () {
    return {
      loading: false
    }
  },
  methods: {
    async deleteItemWithId () {
      if (this.loading) return
      try {
        this.loading = true
        await deleteItem(this.selectedItemId)
        this.loading = false
        console.log('Item eliminado correctamente')
        this.toggleModal()
      } catch (e) {
        this.loading = false
        console.error(e)
      }
    },
    toggleModal () {
      this.$emit('input', false)
      this.clearForm()
    }
  },
  props: {
    selectedItemId: {
      type: [String, Number],
      required: true
    },
    value: {
      type: Boolean,
      default: false
    }
  }
}
</script>
