<template>
  <v-dialog
    max-width="600px"
    :value="value"
    @input="toggleModal()"
  >
    <v-card color="white">
      <v-toolbar color="blue" dark flat>
        <div class="d-flex align-center justify-space-between" style="width: 100%">
          <h4>{{ mode === 'create' ? 'New Item' : 'Edit Item' }}</h4>
          <v-btn color="white" icon small @click="toggleModal()">
            <v-icon>mdi-close-circle-outline</v-icon>
          </v-btn>
        </div>
      </v-toolbar>

      <v-card-text class="pt-5">
        <v-form ref="form">
          <v-row>
            <v-col cols="12" class="pb-0">
              <v-text-field
                label="Name"
                outlined
                :rules="[rules.required]"
                v-model="form.name"
              />
            </v-col>

            <v-col cols="12" class="pb-0">
              <v-select
                :items="genders"
                label="Gender"
                outlined
                :rules="[rules.required]"
                v-model="form.gender"
              />
            </v-col>

            <v-col cols="12" class="pb-0">
              <v-text-field
                label="Specie"
                outlined
                :rules="[rules.required]"
                v-model="form.species"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-card-actions class="d-flex justify-end">
        <v-btn
          class="mr-2"
          color="red"
          outlined
          @click="toggleModal()"
        >
          Cancel
        </v-btn>

        <v-btn
          color="blue"
          dark
          :loading="loading"
          @click="submit()"
        >
          {{ mode === 'create' ? 'Add' : 'Edit' }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import rules from '@/helpers/rules'
import { create, update } from '@/services/rickAndMorty'
export default {
  data () {
    return {
      form: {
        name: '',
        gender: '',
        species: ''
      },
      genders: ['Male', 'Female', 'Undefined'],
      loading: false,
      rules: rules
    }
  },
  methods: {
    async addNewItem () {
      if (!this.$refs.form.validate() || this.loading) return
      try {
        this.loading = true
        await create(this.form)
        console.log('Item creado correctamente')
        this.loading = false
        this.toggleModal()
      } catch (e) {
        this.loading = false
        console.error(e)
      }
    },
    clearForm () {
      this.$refs.form.reset()
      /* this.form = {
        name: '',
        gender: '',
        species: ''
      } */
    },
    setFormValues () {
      const { name, gender, species } = this.selectedItem
      this.form = { name, gender, species }
    },
    submit () {
      this.mode === 'create' ? this.addNewItem() : this.updateItem()
    },
    toggleModal () {
      this.$emit('input', false)
      this.clearForm()
    },
    async updateItem () {
      if (!this.$refs.form.validate() || this.loading) return
      try {
        this.loading = true
        await update(this.form)
        console.log('Item actualizado correctamente')
        this.loading = false
        this.toggleModal()
      } catch (e) {
        this.loading = false
        console.error(e)
      }
    }
  },
  // String, Object, Array, Number, Boolean
  // required: true or false
  props: {
    mode: {
      type: String,
      default: 'create',
      validators: function (value) {
        return ['edit', 'create'].includes(value)
      }
    },
    selectedItem: {
      type: Object,
      default: () => {}
    },
    value: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    value (newValue) {
      if (newValue && this.mode === 'edit') {
        this.setFormValues()
      }
    }
  }
}
</script>
